.button {
  display: block;

  width: 100%;
  padding: 13px 30px 15px;

  @include font-options($font-bold, 17px, 20px, $text-base-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: $btn-base-color;
  border: 2px solid $btn-border-base-color;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $btn-base-color-hover;
    color: $btn-text-color-hover;
  }

  &:focus {
    @include focus();
  }

  &:active {
    background-color: $btn-base-color-hover;
    color: rgba($btn-text-color-hover, 0.3);
  }

  &--green {
    color: $text-second-color;

    background-color: $bg-color-green-light;
    border: 2px solid $bg-color-green-light;
  }

  &--green:hover,
  &--green:focus {
    background-color: $text-second-color;
    color: $bg-color-green-light;
  }

  &--green:active {
    background-color: $text-second-color;
    color: rgba($bg-color-green-light, 0.3);
  }
}
