.catalog {
  position: relative;
  z-index: 5;
}

.catalog__container {
  @include container($mobile-width, $mobile-padding, 0, 30px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 14px, 53px);
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 54px, 57px);
  }
}

.catalog__list {
  @include list-style-none();

  @include desktop-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin: 30px auto 0;

  @include tablet-width() {
    margin: 54px 0 0;
  }

  @include desktop-width() {
    margin: 57px 51px 0 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
