.catalog {
  position: relative;
  z-index: 5;
}

.catalog__container {
  @include container($mobile-width, $mobile-padding, 30px, 30px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 68px, 53px);
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 111px, 57px);
  }
}

.catalog__list {
  @include list-style-none();

  @include desktop-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  margin: 0;
  margin-bottom: 31px;

  @include tablet-width() {
    margin-bottom: 54px;
  }

  @include desktop-width() {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
