.catalog-product {
  @include tablet-width() {
    display: flex;
    flex-direction: row;
  }
}

.catalog-product__photo-link {
  display: block;
  width: 260px;
  height: 195px;

  background-color: $photo-bg-color-grey;

  @include tablet-width() {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
  }
}

.catalog-product__photo {
  display: block;
  width: auto;
  height: 100%;
  margin: auto;
}

.catalog-product__wrapper {
  @include container(260px, 28px, 26px, 19px);

  border: 1px solid $border-color-grey-3;
  @include item-background();

  @include tablet-width() {
    @include container(auto, 26px, 25px, 19px);

    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }
}

.catalog-product__title {
  @include little-title();

  margin-bottom: 6px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-product__info {
  @include font-options($font-regular, 13px, 30px, $text-base-color);

  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  @include tablet-width() {
    @include font-options($font-regular, 15px, 30px, $text-base-color);
  }
}

.catalog-product__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 13px;

  border-top: 1px solid $border-color-grey;

  @include tablet-width() {
    margin-top: auto;
    padding: 13px 5px 0 4px;
  }
}

.catalog-product__price {
  @include font-options($font-bold, 15px, 24px, $text-title-color);

  margin: 0;
  padding: 0;

  @include tablet-width() {
    @include font-options($font-bold, 17px, 24px, $text-title-color);
    padding-top: 1px;
  }
}

.catalog-product__add-cart-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;

  &:hover .catalog-product__add-cart-image,
  &:focus .catalog-product__add-cart-image {
    fill: $cart-icon-color-hover;
  }

  &:active .catalog-product__add-cart-image {
    fill: rgba($cart-icon-color-hover, 0.3);
  }
}

.catalog-product__add-cart-image {
  width: 21px;
  height: 18px;

  fill: rgba($cart-icon-color-base, 0.2);
  pointer-events: none;
}
