.categories__container {
  @include container($mobile-width, 0, 0, 0);

  background-color: $bg-color-categories;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
  background-size: 575px 375px;

  @include retina-2x() {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @include tablet-width() {
    @include container($tablet-width, 0, 0, 0);

    position: relative;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 1150px 746px;

    @include retina-2x() {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;

      width: 100%;
      height: 12px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: 768px 23px;
    }
  }

  @include desktop-width() {
    @include container(100%, 0, 0, 0);

    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px 746px;

    &::after {
      height: 18px;

      background-position: -50px 0;
      background-size: 1250px 36px;
    }

    @include retina-2x() {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.categories__intro {
  @include big-title();

  padding: 71px $mobile-padding 122px;

  background-color: transparent;

  @include tablet-width() {
    padding: 154px $tablet-padding 374px;
  }

  @include desktop-width() {
    padding: 154px $desktop-padding 360px;
  }
}

.categories__intro-text {
  display: block;
  max-width: 260px;
  margin: auto;

  @include tablet-width() {
    max-width: 700px;
  }
}

.categories__list-wrapper {
  @include tablet-width() {
    @include container($tablet-width, $tablet-padding);
  }
}

.categories__list {
  @include list-style-none();

  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: $bg-color-green-dark;
  }
}

.categories__item {
  position: relative;

  &:nth-child(odd),
  &:nth-child(odd)::before {
    background-color: $bg-color-green-light;
  }

  &:nth-child(even),
  &:nth-child(even)::before {
    background-color: $bg-color-green-dark;
  }

  @include tablet-width() {
    width: 50%;
  }
}

.categories__link {
  @include font-options($font-bold, 19px, 24px, $text-second-color);

  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 103px;
  margin: 0;
  padding: 24px 130px 25px $mobile-padding;

  font-weight: normal;
  text-transform: none;

  background-color: inherit;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: inherit;
  }

  &::after {
    position: absolute;
    content: "";
    top: 21px;
    right: 27px;
    width: 70px;
    height: 70px;

    opacity: 0.5;
    pointer-events: none;
  }

  &:hover::after,
  &:focus::after {
    top: 16px;
    opacity: 0.7;
  }

  &:active::after {
    top: 16px;
    opacity: 0.3;
  }

  &--interior::after {
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 20px 2px;
  }

  &--toy::after {
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 10px 0;
  }

  @include tablet-width() {
    min-height: 119px;
    padding: 27px 130px 27px 35px;

    @include font-options($font-bold, 20px, 30px, $text-second-color);

    &--interior::after {
      background-position: 20px 9px;
    }

    &--toy::after {
      background-position: 3px 10px;
    }
  }
}

.categories__link-text {
  max-width: 175px;
}

.categories__link:active .categories__link-text {
  opacity: 0.3;
}

.categories__item:nth-child(odd) .categories__link:focus .categories__link-text {
  @include focus($text-second-color, $bg-color-green-light);
}

.categories__item:nth-child(even) .categories__link:focus .categories__link-text {
  @include focus($text-second-color, $bg-color-green-dark);
}
