.client-data {
  padding: 0;

  border: none;
}

.client-data__list {
  @include list-style-none();
}

.client-data__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet-width() {
    margin: 0;
  }

  &--communication {
    @include tablet-width() {
      background-color: $bg-color-grey;
    }
  }
}
