/* .contacts {
  display: flex;
  flex-direction: column;

  @include desktop-width() {
    height: 400px;

    overflow: hidden;
  }
} */

.contacts {
  position: relative;

  @include tablet-width() {
    &::after {
      position: absolute;
      content: "";
      top: 47px;
      right: 53px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: 47px 81px;
      background-position: center center;
    }
  }
}

/* .contacts__info {
  order: -1;

  @include desktop-width() {
    order: 2;
    position: relative;
    z-index: 10;
    top: -100%;
    left: 50%;

    width: 570px;
    margin-left: -40px;
    margin-top: -5px;

    transform: translateX(-100%) translateY(50%);
  }
} */

/* .contacts__map {
  @include desktop-width() {
    min-height: 400px;
  }
} */

.contacts__button-wrapper {
  @include container($mobile-width, $mobile-padding, 38px, 40px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 55px, 57px);

    display: flex;
    justify-content: center;
  }
}

.contacts__button {
  @include tablet-width() {
    width: 230px;
  }
}
