.contacts-info__container {
  @include container($mobile-width, $mobile-padding, 36px, 5px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 62px, 25px);
  }

  @include desktop-width() {
    @include container(50%, 0, 70px, 90px);
    padding-left: 175px;
    padding-right: 35px;
  }
}

.contacts-info__title {
  @include regular-title();

  margin: 0 0 24px -2px;
  padding: 0;

  font-size: 18px;
  font-weight: normal;
  text-transform: none;

  @include tablet-width() {
    margin-bottom: 47px;
  }
}

.contacts-info__content {
  @include font-options($font-regular, 15px, 30px, $text-base-color);

  width: 100%;

  @include tablet-width() {
    @include font-options($font-regular, 17px, 30px, $text-base-color);
  }
}

.contacts-info__content-inner {
  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop-width() {
    display: block;
  }
}

.contacts-info__content-property {
  display: flex;
  flex-direction: row;

  @include tablet-width() {
    width: 50%;
  }

  @include desktop-width() {
    width: 100%;
  }
}

.contacts-info__data {
  display: inline-block;
  vertical-align: top;
  min-height: 40px;
  padding: 0 0 31px 0;
}

.contacts-info__content-title {
  flex-shrink: 0;

  width: 76px;
  margin: 0 3px 0 -3px;
  padding-right: 15px;

  text-transform: lowercase;

  @include tablet-width() {
    margin: 0 1px 0 -2px;
  }
}

.contacts-info__content-value {
  flex-grow: 1;

  @include tablet-width() {
    padding-right: 35px;
  }

  @include desktop-width() {
    padding-right: 0;
  }
}
