.contacts__container {
  position: relative;

  @include tablet-width() {
    &::after {
      position: absolute;
      content: "";
      top: 47px;
      right: 53px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: 47px 81px;
      background-position: center center;
    }
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 72px, 104px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &::after {
      top: 133px;
      left: 113px;
    }
  }
}

.contacts__info {
  @include desktop-width() {
    width: 50%;
  }
}

.contacts__map {
  @include desktop-width() {
    width: 50%;
  }
}

.contacts__button-wrapper {
  @include container($mobile-width, $mobile-padding, 39px, 39px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 54px, 57px);
  }

  @include desktop-width() {
    display: block;
    z-index: 5;

    @include container(50%, 0, 0, 0);
    margin: -52px 0 0;
    padding: 0 35px 0 175px;
  }
}

.contacts__button {
  @include tablet-width() {
    min-width: 230px;
    width: fit-content;
    margin: 0 auto;
  }

  @include desktop-width() {
    margin: 0;
  }
}
