.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet-width() {
    justify-content: flex-end;
  }
}

.copyright__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 260px;
  padding: 18px 39px 9px 37px;

  outline: none;
  border-top: 1px solid $border-color-grey-2;

  &:hover .copyright__image,
  &:focus .copyright__image {
    fill: $copyright-image-color-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet-width() {
    width: 184px;
    padding: 0;

    border: none;
  }
}

.copyright__intro {
  @include font-options($font-bold, 19px, 18px, $text-title-color);
}

.copyright__logo {
  width: 27px;
  height: 34px;
  padding-top: 4px;
}

.copyright__image {
  width: 27px;
  height: 34px;

  fill: $copyright-image-color-base;
  pointer-events: none;
}
