//  ширина/высота кастомных радио/чекбоксовы
$form-choice-size: 39px;
$form-choice-size-tablet: 52px;

//  высота инпутов
$input-height: 52px;

@mixin flex-row() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-fieldset {
  padding: 0;
  margin: 0;

  border: none;
  overflow: visible;

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 50px, 50px);

    display: flex;
    flex-direction: row;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 50px, 50px);
  }

  &--client-name,
  &--communication,
  &--additionally {
    @include desktop-width() {
      padding-right: 225px;
    }
  }
}

.form-fieldset__legend {
  position: relative;
  display: block;
  width: min-content;
  padding: 0 22px 29px 0;

  @include font-options($font-bold, 17px, 17px, $text-form-legend-color);
  text-transform: uppercase;

  background-color: $bg-color-base;

  &--choice {
    padding-bottom: 25px;
  }

  &--tel,
  &--email {
    padding-bottom: 6px;
  }

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 9px;
    left: 0;

    width: 100vw;
    height: 1px;

    background-color: $input-border-green-color;
  }

  @include tablet-width() {
    float: left;
    flex-shrink: 0;
    width: 25%;
    padding: 16px 50px 0 0;

    background-color: transparent;

    &::after {
      content: none;
    }
  }

  @include desktop-width() {
    width: 175px;
    padding: 16px 30px 0 62px;
  }
}

.form-fieldset__list {
  @include list-style-none();

  @include tablet-width() {
    width: 75%;
    margin-left: auto;
  }

  @include desktop-width() {
    width: 83.3%;
  }

  &--product-color {
    @include tablet-width() {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include desktop-width() {
      justify-content: flex-start;
    }
  }

  &--communication {
    @include tablet-width() {
      flex-grow: 1;
      margin-left: 0;
    }
  }
}

.form-fieldset__item {
  display: flex;
  position: relative;

  margin-bottom: 16px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    min-height: $form-choice-size;
    margin-bottom: 16px;
  }

  &--checkbox {
    min-height: $form-choice-size;
    margin-bottom: 22px;
  }

  &--communication {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @include tablet-width() {
    margin-bottom: 24px;

    &--radio {
      min-height: $form-choice-size-tablet;
      margin-bottom: 24px;
    }

    &--checkbox {
      min-height: $form-choice-size-tablet;
      margin-bottom: 24px;
    }

    &--communication {
      flex-direction: row;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

.form-fieldset__list--product-color .form-fieldset__item {
  @include tablet-width() {
    width: 47.6%;
  }

  @include desktop-width() {
    width: 30.1%;
    margin-left: 0;
    padding-right: 40px;
  }

  &:nth-last-child(-n+2):nth-child(2n + 1),
  &:nth-last-child(-n+2):nth-child(2n + 1) ~ .form-fieldset__item {
    @include tablet-width() {
      margin-bottom: 0;
    }

    @include desktop-width() {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &:nth-last-child(-n+3):nth-child(3n + 1),
  &:nth-last-child(-n+3):nth-child(3n + 1) ~ .form-fieldset__item,
  &:nth-last-child(-n+3):nth-child(3n + 1):nth-last-child(-n+2):nth-child(2n + 1) {
    @include desktop-width() {
      margin-bottom: 0;
    }
  }
}

.form-fieldset__label {
  @include font-options($font-bold, 17px, 18px, $text-title-color);

  display: block;

  margin: 0;
  padding: 0;

  @include tablet-width() {
    display: flex;
    align-items: center;

    @include font-options($font-bold, 19px, 18px, $text-title-color);
  }

  &--client {
    &:not(:last-child) {
      margin-bottom: 22px;
    }

    @include tablet-width() {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

.form-fieldset__input-wrapper {
  position: relative;

  width: 100%;
}

.form-fieldset__input {
  vertical-align: middle;
  width: 100%;
  height: $input-height;
  margin: 0;
  padding: 0;

  @include font-options($font-regular, 17px, 18px, $text-base-color);

  background: none;
  border: none;
  border-bottom: 2px solid $input-border-base-color;
  outline: none;

  &::placeholder {
    @include font-options($font-regular, 17px, 18px, rgba($text-base-color, 0.3));
  }

  &--email,
  &--tel {
    padding-right: $input-height;
  }

  &[required]:invalid {
    border-color: $border-color-input-error;
  }

  &:hover,
  &[required]:hover {
    border-color: $input-border-green-color;
  }

  &:focus,
  &[required]:focus,
  &:active,
  &[required]:active {
    border-color: $input-border-green-color;
  }

  @include tablet-width() {
    margin-left: 26px;
    padding-left: 16px;

    @include font-options($font-regular, 19px, 18px, $text-base-color);

    &::placeholder {
      @include font-options($font-regular, 19px, 18px, rgba($text-base-color, 0.3));
    }

    &--email,
    &--tel {
      margin-left: 0;
    }
  }
}

.form-fieldset__input-icon {
  position: absolute;
  top: 50%;
  left: 100%;

  fill: rgba($input-border-base-color, 0.2);
  pointer-events: none;

  &--tel {
    width: 25px;
    height: 24px;

    transform: translateX(-33px) translateY(calc(-50% - 3px));

    @include tablet-width {
      transform: translateX(-52px) translateY(calc(-50% - 3px));
    }

    @include desktop-width {
      transform: translateX(-33px) translateY(calc(-50% - 3px));
    }
  }

  &--email {
    width: 32px;
    height: 21px;

    transform: translateX(-37px) translateY(calc(-50% + 1px));

    @include tablet-width {
      transform: translateX(-55px) translateY(calc(-50% - 1px));
    }

    @include desktop-width {
      transform: translateX(-35px) translateY(calc(-50% - 1px));
    }
  }
}

.form-fieldset__input:invalid + .form-fieldset__input-icon {
  fill: $border-color-input-error;
}

.form-fieldset__input:hover + .form-fieldset__input-icon,
.form-fieldset__input:focus + .form-fieldset__input-icon,
.form-fieldset__input:active + .form-fieldset__input-icon {
  fill: $input-border-green-color;
}

.form-fieldset__textarea {
  display: block;
  width: 100%;
  min-height: 141px;
  margin: 0;
  padding: 13px 15px;

  @include font-options($font-regular, 17px, 18px, $text-base-color);

  background: none;
  border: 2px solid $textarea-border-base-color;
  resize: none;
  overflow: auto;
  outline: none;

  &::placeholder {
    @include font-options($font-regular, 17px, 18px, rgba($text-base-color, 0.3));
  }

  &:hover {
    border-color: $input-border-green-color;
  }

  &:focus,
  &:active {
    border-color: $input-border-green-color;
  }

  @include tablet-width() {
    @include font-options($font-regular, 19px, 18px, $text-base-color);

    &::placeholder {
      @include font-options($font-regular, 19px, 18px, rgba($text-base-color, 0.3));
    }
  }
}

.client-name {
  @include tablet-width() {
    flex-grow: 1;
  }
}


/*  РАДИОКНОПКИ И ЧЕКБОКСЫ  */

.form-fieldset__choice-label {
  display: block;
  margin: 0;
  padding-top: 9px;

  @include font-options($font-bold, 17px, 18px, $text-title-color);
  @include custom-choice($form-choice-size);

  @include tablet-width() {
    @include font-options($font-bold, 19px, 18px, $text-title-color);
    @include custom-choice($form-choice-size-tablet);

    padding-top: 15px;
  }
}

//  focus
.form-fieldset__choice-input:focus ~ .form-fieldset__choice-label {
  @include custom-choice--focus();
}

.form-fieldset__choice-input--gray:focus ~ .form-fieldset__choice-label {
  @include tablet-width() {
    @include custom-choice--focus($bg-color-gray);
  }
}

//  active
.form-fieldset__choice-input:active ~ .form-fieldset__choice-label {
  @include custom-choice--active();
}

//  checked
.form-fieldset__choice-input:checked ~ .form-fieldset__choice-label {
  @include custom-choice--checked($form-choice-size);

  @include tablet-width() {
    @include custom-choice--checked($form-choice-size-tablet);
  }
}
