.logo {
  display: block;

  outline: none;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @include tablet-width() {
    width: 112px;
    height: 46px;
  }

  @include desktop-width() {
    width: 149px;
    height: 72px;
  }
}

.logo__image {
  width: 86px;
  height: 35px;

  @include tablet-width() {
    width: 112px;
    height: 46px;
  }

  @include desktop-width() {
    width: 149px;
    height: 72px;
  }
}
