.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -61px;
  right: -7px;
  z-index: 2;

  display: block;
  width: 40px;
  height: 40px;

  background-color: $bg-color-base;

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  /* &:focus {
    @include focus();
  } */

  &:active {
    opacity: 0.3;
  }

  /* @include tablet-width() {
    display: none;
  } */
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 9px;

    width: 27px;
    height: 2px;

    background-color: $menu-button-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 12px;

  width: 20px;
  height: 2px;

  background-color: $menu-button-color;
  box-shadow:
    0 6px 0 0 $menu-button-color,
    0 12px 0 0 $menu-button-color;
}

/* .main-nav--opened .main-nav__list {
  min-height: 66px;
} */

.main-nav--closed .main-nav__list {
  //@include mobile-width-only() {
    display: none;

    min-height: 0;
  //}
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
