.main-nav {
  position: relative;

  background-color: transparent;

  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 5;

    width: 100%
  }
}


//  Стилизация кнопки открытия меню

.main-nav__toggle {
  position: absolute;
  top: -60px;
  right: -8px;
  z-index: 2;

  display: block;
  width: 40px;
  height: 40px;

  background-color: transparent;

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus {
    @include focus();
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet-width() {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 27px;
    height: 2px;

    background-color: $menu-button-color;
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;

  width: 20px;
  height: 2px;

  background-color: $menu-button-color;
  box-shadow:
    0 6px 0 0 $menu-button-color,
    0 12px 0 0 $menu-button-color;

  transform: translateX(-50%) translateY(-7px);
}

/* .main-nav--opened .main-nav__list {
  min-height: 66px;
} */

.main-nav--closed .main-nav__list {
  @include mobile-width-only() {
    display: none;

    min-height: 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}


//  Стилизация меню

.main-nav__list {
  @include list-style-none();

  &--special {
    display: none;
  }

  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--site-nav {
      width: 50%;
    }

    &--user-nav {
      order: -1;
      justify-content: flex-end;

      width: 100%;
    }

    &--special {
      display: none;
    }
  }

  @include desktop-width() {
    &--site-nav {
      order: -1;
      width: 42%;
    }

    &--user-nav {
      width: 42%;
    }

    &--special {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 42%;
    }
  }
}

.main-nav__item {
  position: relative;

  @include mobile-width-only() {
    @include decorative-line-border();
  }
}

.main-nav__list--site-nav .main-nav__item {
  @include tablet-width() {
    width: 50%;
  }

  @include desktop-width() {
    width: calc(50% - 35px);
    margin-right: 35px;

    border-right: 1px solid $border-color-grey;

    &:nth-child(even) {
      border-right: none;
    }
  }
}

.main-nav__list--user-nav .main-nav__item {
  @include tablet-width() {
    border-left: 1px solid $border-color-grey;
  }
}

.main-nav__list--special .main-nav__item {
  @include desktop-width() {
    width: calc(50% - 35px);
    margin-right: 35px;
  }
}

.main-nav__link {
  @include little-title();

  position: relative;
  display: block;

  margin: 0;
  padding: 27px 0 28px 45px;

  text-align: left;

  cursor: pointer;
  outline: none;

  &--active {
    cursor: default;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__list--site-nav .main-nav__link {
  @include tablet-width() {
    @include font-options($font-bold, 15px, 24px, $text-title-color);

    padding: 18px 0;
  }

  @include desktop-width() {
    @include font-options($font-bold, 17px, 24px, $text-title-color);

    padding: 30px 0 35px;
  }
}

.main-nav__list--user-nav .main-nav__link {
  @include tablet-width() {
    @include font-options($font-bold, 17px, 24px, $text-title-color);

    min-height: 89px;
    padding: 30px 0 35px 82px;
  }

  @include desktop-width() {
    @include font-options($font-bold, 17px, 24px, $text-title-color);

    padding: 30px 0 35px 83px;
  }
}

.main-nav__list--special .main-nav__link {
  @include desktop-width() {
    @include font-options($font-bold, 15px, 24px, $text-title-color);

    padding: 18px 0;
  }
}

.main-nav__image {
  position: absolute;
  top: 50%;
  left: 0;

  fill: rgba($cart-icon-color-base, 0.2);

  transform: translateY(-50%);

  &--search {
    width: 18px;
    height: 18px;

    transform: translateX(2px) translateY(calc(-50% + 2px));
  }

  &--cart {
    width: 21px;
    height: 18px;
  }

  @include tablet-width() {
    &--search {
      transform: translateX(32px) translateY(calc(-50% + 1px));
    }

    &--cart {
      transform: translateX(30px) translateY(-50%);
    }
  }
}

.main-nav__link-text {
  &--active {
    box-shadow:
      0 4px 0 0 $bg-color-base,
      0 6px 0 0 $link-text-color-hover;
  }

  @include tablet-width() {
    &--active {
      box-shadow:
        0 4px 0 0 $bg-color-grey,
        0 6px 0 0 $link-text-color-hover;
    }
  }

  @include desktop-width() {
    &--active {
      box-shadow:
        0 4px 0 0 $bg-color-base,
        0 6px 0 0 $link-text-color-hover;
    }
  }
}

.main-nav__link[href]:hover .main-nav__image,
.main-nav__link[href]:focus .main-nav__image {
  fill: $cart-icon-color-hover;
}

.main-nav__link[href]:hover .main-nav__link-text,
.main-nav__link[href]:focus .main-nav__link-text {
  opacity: 0.6;
}

.main-nav__link[href]:focus .main-nav__link-text {
  @include focus();
}

.main-nav__list--site-nav .main-nav__link[href]:focus .main-nav__link-text {
  @include tablet-width() {
    @include focus($link-border-color-hover, $bg-color-grey);
  }

  @include desktop-width() {
    @include focus();
  }
}

.main-nav__list--site-nav-index .main-nav__link[href]:focus .main-nav__link-text {
  @include tablet-width() {
    @include focus($link-border-color-hover, $bg-color-grey-2);
  }

  @include desktop-width() {
    @include focus();
  }
}

.main-nav__list--special .main-nav__link[href]:focus .main-nav__link-text {
  @include desktop-width() {
    @include focus($link-border-color-hover, $bg-color-grey);
  }
}

.main-nav__list--special-index .main-nav__link[href]:focus .main-nav__link-text {
  @include desktop-width() {
    @include focus($link-border-color-hover, $bg-color-grey-2);
  }
}

.main-nav__item--search .main-nav__link-text {
  @include tablet-width() {
    display: none;
  }
}

.main-nav__delivery {
  display: none;

  @include tablet-width() {
    display: block;
    margin: 0;
    padding: 17px 0;

    @include font-options($font-regular, 15px, 24px, $text-base-color);
  }
}
