.making__container {
  @include container($mobile-width, $mobile-padding, 0, 58px);

  position: relative;
  top: -151px;
  overflow: hidden;

  margin-bottom: -150px;


  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 0, 63px);

    top: 0;

    margin-bottom: 0;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 0, 105px);

    display: flex;
    flex-direction: row;
  }
}

.making__player {
  position: relative;
  top: 246px;

  @include item-background('+ .making__wrapper');

  @include tablet-width() {
    top: auto;
  }

  @include desktop-width() {
    flex-shrink: 0;
  }
}

.making__wrapper {
  @include container(260px, 33px, 23px, 32px);

  border: 1px solid $border-color-grey;
  @include item-background();

  @include tablet-width() {
    @include container(668px, 39px, 37px, 45px);
  }

  @include desktop-width() {
    @include container(auto, 78px, 94px, 55px);
    padding-right: 57px;

    flex-grow: 1;
  }
}

.making__title {
  @include little-title();

  position: relative;

  margin-bottom: 201px;
  padding-left: 56px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    z-index: 2;
    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(-50%);
  }

  @include tablet-width() {
    margin-bottom: 34px;
    padding-left: 65px;
  }

  @include desktop-width() {
    margin-bottom: 34px;
    padding-left: 0;

    &::before {
      top: -37px;
    }
  }
}

.making__description {
  margin: 0;
  margin-bottom: 25px;

  @include font-options($font-regular, 13px, 24px, $text-base-color);

  @include tablet-width() {
    margin-bottom: 35px;

    @include font-options($font-regular, 15px, 30px, $text-base-color);
  }

  @include desktop-width() {
    margin-bottom: 47px;
  }
}

.making__button {
  padding: 13px 20px 15px;
}
