.order-form__container {
  @include container($mobile-width, $mobile-padding, 0, 55px);

  @include tablet-width() {
    @include container($tablet-width, 0, 0, 51px);
  }

  @include desktop-width() {
    @include container(100%, 0, 0, 50px);
  }
}

.order-form__product {
  margin: 0 0 31px 0;

  @include tablet-width() {
    margin-bottom: 0;
    width: 100%;
  }
}

.order-form__client {
  margin: 0 0 29px 0;

  @include tablet-width() {
    margin-bottom: 0;
    width: 100%;
  }
}

.order-form__additionally {
  margin: 0 0 16px 0;

  @include tablet-width() {
    margin-bottom: 0;
    width: 100%;
  }
}

.order-form__button-wrapper {
  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 0, 0);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop-width() {
    @include container($desktop-width, 225px, 0, 0);
  }
}

.order-form__required {
  display: block;
  margin: 0 0 32px 0;

  @include font-options($font-regular, 14px, 16px, $text-base-color);

  @include tablet-width() {
    width: 50%;
    margin: 0;

    @include font-options($font-regular, 17px, 30px, $text-base-color);
    text-align: right;
  }

  @include desktop-width() {
    margin-top: -5px;
  }
}

.order-form__button {
  @include tablet-width() {
    order: -1;
    width: 230px;
    margin-top: 3px;
  }

  @include desktop-width() {
    margin-top: -1px;
  }
}
