.page-header {
  background-color: $bg-color-base;

  @include tablet-width() {
    background-color: $bg-color-grey;

    &--index {
      background-color: $bg-color-grey-2;
    }
  }
}

.page-header__container {
  @include container($mobile-width, $mobile-padding, 0, 0);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding);

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -46px;
  }

  @include desktop-width() {
    margin-top: -72px;
  }
}

.page-header__logo-wrapper {
  position: relative;

  display: flex;
  justify-content: center;

  padding: 22px 0 17px;

  @include mobile-width-only() {
    @include decorative-line-border();
  }

  @include tablet-width() {
    z-index: 10;
    top: 68px;
    left: -2px;

    margin: 0;
    padding: 0;
  }

  @include desktop-width() {
    top: 81px;
    left: 50%;

    transform: translateX(-50%);
  }
}
