.page-header {
  background-color: $bg-color-base;
}

.page-header__container {
  @include container(320px, $mobile-padding, 0, 0);
}

.page-header__logo-wrapper {

  position: relative;

  display: flex;
  justify-content: center;

  @include decorative-line-border();

  &::after {
    transform: translateX(-50%) translateY(79px);
  }
}

.page-header__logo {
  margin: 22px 0 15px;
}
