.page-inner__container {
  background-color: $bg-color-grey;

  @include tablet-width() {
    margin-top: -61px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 23px;
    background-position: center bottom;
  }

  @include desktop-width() {
    background-size: 1150px 35px;
  }
}

.page-inner__title {
  @include big-title();
}
