.product-data {
  padding: 0;

  border: none;
}

.product-data__list {
  @include list-style-none();
}

.product-data__item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet-width() {
    margin: 0;
  }

  &--product-color {
    @include tablet-width() {
      background-color: $bg-color-grey;
    }
  }
}
