.product-data {
  padding: 0;

  border: none;

  //background-color: lightgreen;
}

.product-data__list {
  @include list-style-none();
}

.product-data__item {
  margin-bottom: 31px;

  //outline: 1px solid red;

  &:last-child {
    margin-bottom: 0;
  }
}
