.reviews {
  @include decorative-wavy-border-line();
}

.reviews__container {
  @include container($mobile-width, $mobile-padding, 8px, 51px);

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 77px, 131px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: 0 0;

    @include retina-2x() {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 71px, 185px);

    padding-left: 225px;

    background-position: $desktop-padding 0;
  }
}

.reviews__title {
  @include regular-title();

  margin-bottom: 26px;

  @include tablet-width() {
    order: 0;
    width: 50%;
    margin: 0 0 0 -5px;
  }

  @include desktop-width() {
    margin-left: -4px;
  }
}

.reviews__list {
  padding-bottom: 38px;

  @include tablet-width() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    order: 2;
    margin: 45px 0 0;
    padding: 0;
  }
}

.reviews__item {
  display: none;
  margin: 0 0 34px;
  padding: 0;

  &--active {
    display: block;
  }

  @include tablet-width() {
    margin-bottom: 0;
  }
}

.reviews__text {
  @include font-options($font-regular, 15px, 30px, $text-base-color);

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @include tablet-width() {
    @include font-options($font-regular, 17px, 30px, $text-base-color);

    margin-bottom: 60px;
  }

  @include desktop-width() {
    padding-right: 100px;
    margin-bottom: 40px;
  }
}

.reviews__author-name {
  @include font-options($font-bold, 17px, 20px, $text-title-color);

  display: block;

  font-style: normal;

  @include tablet-width() {
    @include font-options($font-bold, 18px, 24px, $text-title-color);

    width: 70%;
  }

  @include desktop-width() {
    @include font-options($font-bold, 17px, 24px, $text-title-color);
  }
}

.reviews__author-nickname {
  @include font-options($font-regular, 17px, 20px, $text-base-color);

  display: block;
  padding-top: 10px;

  @include tablet-width() {
    @include font-options($font-regular, 17px, 30px, $text-base-color);
    padding-top: 3px;
  }
}

.reviews__toggles {
  display: flex;
  flex-direction: row;

  @include tablet-width() {
    margin-top: -54px;
    margin-left: auto;

    width: 175px;
  }
}

.reviews__toggle {
  position: relative;
  flex-grow: 1;
  display: block;
  height: 52px;

  background-color: transparent;
  border: 1px solid $border-color-gray;
  outline: none;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: -1px;
  }

  &:focus {
    @include focus();
  }

  &--prev:focus {
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 50px;
    height: 26px;

    background-repeat: no-repeat;
    background-size: 50px 26px;
    background-position: center center;

    transform: translateX(-50%) translateY(-50%);
  }

  &--prev::after {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next::after {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  @include tablet-width() {
    border: none;

    &:last-child {
      border-right: none;
    }
  }
}

.reviews__button {
  @include tablet-width() {
    order: 1;
    width: min-content;
    min-width: 175px;
    max-width: 40%;
    height: min-content;
    margin: 2px 0 0 auto;
  }

  @include desktop-width() {
    margin: 9px 0 0 auto;
  }
}
