.user-nav {
  @include list-style-none();
}

.user-nav__item {
  @include nav-item();
}

.user-nav__link {
  @include nav-link();
}

.user-nav__image {
  @include nav-image();

  &--search {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-left: 2px;
  }

  &--cart {
    width: 21px;
    height: 18px;
    margin-top: 1px;
    margin-left: 0px;
  }
}

.user-nav__link-text {
  @include nav-link-text();
}
