.week-product {
  @include decorative-wavy-border-line();

  position: relative;
}

.week-product__container {
  @include container(320px, $mobile-padding, 28px, 42px);
}

.week-product__intro {
  @include regular-title();

  display: block;
}

.week-product__title {
  @include font-options($font-bold, 17px, 20px, $bg-color-green-light);

  margin: 4px 0 24px;

  font-weight: normal;
  text-transform: uppercase;
}

.week-product__description {
  margin: 0;
  margin-bottom: 16px;
}

.week-product__info {
  width: 100%;
  margin-bottom: 26px;
}

.week-product__property {
  display: flex;
  flex-direction: row;
}

.week-product__data {
  display: inline-block;
  vertical-align: top;
  min-height: 40px;
  padding: 6px 0 9px;

  border-bottom: 1px solid $border-color-grey;
}

.week-product__info-title {
  flex-shrink: 0;

  width: 96px;
}

.week-product__info-value {
  flex-grow: 1;
}

.week-product__photo {
  margin-bottom: 17px;
}

.week-product__price-title {
  @include little-title();

  display: block;
  margin-bottom: 27px;

  color: $text-base-color;
  text-align: center;
}

.week-product__price {
  display: inline-block;
}
