.week-product {
  @include decorative-wavy-border-line();

  position: relative;
}

.week-product__container {
  @include container($mobile-width, $mobile-padding, 28px, 42px);

  display: flex;
  flex-direction: column;

  @include tablet-width() {
    @include container($tablet-width, $tablet-padding, 45px, 69px);

    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop-width() {
    @include container($desktop-width, $desktop-padding, 70px, 96px);
  }
}

.week-product__title-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;

  @include tablet-width() {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 49px;
  }

  @include desktop-width() {
    z-index: 5;
    margin-bottom: -110px;
    padding-top: 53px;

    justify-content: flex-start;
  }
}

.week-product__title {
  @include font-options($font-bold, 17px, 20px, $bg-color-green-light);

  margin: 4px 0 0;

  font-weight: normal;
  text-transform: uppercase;

  @include tablet-width() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    margin: 10px 0 0;

    @include font-options($font-bold, 17px, 17px, $bg-color-green-light);
    text-align: center;
  }

  @include desktop-width() {
    order: -1;
    width: 171px;
    margin-top: 14px;
  }
}

.week-product__title-inner {
  @include tablet-width() {
    display: block;
    width: 100px;
    margin-left: 41px;
  }

  @include desktop-width() {
    margin: 0;
    margin-left: -7px;
  }
}

.week-product__intro {
  @include regular-title();

  order: -1;
  display: block;

  @include desktop-width() {
    width: 875px;
    margin: 0;
  }
}

.week-product__info-wrapper {
  display: flex;
  flex-direction: column;

  @include tablet-width() {
    width: 50%;
    padding-right: 45px;
  }

  @include desktop-width() {
    padding: 159px 58px 0 175px;
  }
}

.week-product__description {
  margin: 0;
  margin-bottom: 16px;

  @include tablet-width() {
    margin-bottom: 36px;

    @include font-options($font-regular, 17px, 30px, $text-base-color);
  }

  @include desktop-width() {
    margin-bottom: 49px;
  }
}

.week-product__info {
  width: 100%;
  margin-bottom: 365px;

  @include tablet-width() {
    margin-bottom: auto;

    @include font-options($font-regular, 15px, 20px, $text-base-color);
  }
}

.week-product__property {
  display: flex;
  flex-direction: row;
}

.week-product__data {
  display: inline-block;
  vertical-align: top;
  min-height: 40px;
  padding: 7px 0 8px;

  border-bottom: 1px solid $border-color-grey;

  @include tablet-width() {
    min-height: 39px;
    padding-top: 9px;
  }

  @include tablet-width() {
    min-height: 40px;
    padding-top: 7px;
  }
}

.week-product__info-title {
  flex-shrink: 0;

  width: 36.9%;
  padding-right: 20px;

  @include tablet-width() {
    width: 33.6%;
  }
}

.week-product__info-value {
  flex-grow: 1;
}

.week-product__price-title {
  @include little-title();

  display: block;
  margin-bottom: 26px;

  color: $text-base-color;
  text-align: center;

  @include tablet-width() {
    margin-bottom: 35px;
  }

  @include desktop-width() {
    margin-bottom: 34px;
  }
}

.week-product__price {
  display: inline-block;
}

.week-product__photo {
  display: block;

  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-top: -441px;

  background-color: $photo-bg-color-grey;

  @include tablet-width() {
    width: 333px;
    height: 404px;
    margin: 8px 0 0;
  }

  @include desktop-width() {
    width: 525px;
    height: 636px;
    margin: 0;
  }
}
