.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin container($container-width: $mobile-width, $container-padding: $mobile-padding, $container-padding-top: 0, $container-padding-bottom: 0) {
  min-width: $container-width;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: $container-padding-top $container-padding $container-padding-bottom;
}

@mixin mobile-width-only() {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin tablet-width() {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop-width() {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina-2x() {
  @media (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin list-style-none {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin font-options($family: $font-regular, $size: 15px, $line: 24px, $font-color: $text-base-color) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  color: $font-color;
}

@mixin big-title {
  display: block;
  position: relative;

  margin: 0;
  @include container($mobile-width, $mobile-padding, 72px, 76px);

  @include font-options($font-bold, 27px, 30px, $text-title-color);
  font-weight: normal;
  text-transform: none;
  text-align: center;

  background-color: transparent;

  @include tablet-width() {
    @include font-options($font-bold, 43px, 50px, $text-title-color);
    @include container($tablet-width, $tablet-padding, 96px, 91px);
  }

  @include desktop-width() {
    @include font-options($font-bold, 53px, 57px, $text-title-color);
    @include container($desktop-width, $desktop-padding, 94px, 121px);
  }
}

@mixin regular-title {
  margin: 0 0 0 -2px;
  padding: 0;

  @include font-options($font-bold, 25px, 30px, $text-title-color);
  font-weight: normal;
  text-transform: none;

  @include tablet-width() {
    @include font-options($font-bold, 43px, 50px, $text-title-color);
    margin-left: -4px;
  }

  @include desktop-width() {
    @include font-options($font-bold, 53px,57px, $text-title-color);
  }
}

@mixin little-title {
  margin: 0;
  padding: 0;

  @include font-options($font-bold, 17px, 24px, $text-title-color);
  font-weight: normal;
  text-transform: none;

  @include tablet-width() {
    @include font-options($font-bold, 20px, 24px, $text-title-color);
  }

  @include desktop-width() {
    @include font-options($font-bold, 20px, 24px, $text-title-color);
  }
}

//  тень при взаимодействии
@mixin item-background($element: '') {
  &:hover #{$element},
  &:focus #{$element} {
    box-shadow: 0 6px 10px 0 rgba($shadow-base-color, 0.1);
  }

  &:active #{$element} {
    box-shadow: 0 3px 5px 0 rgba($shadow-base-color, 0.1);
  }
}

//  линейные бордеры на всю ширину
@mixin decorative-line-border($box-width: 100vw, $box-height: 100%, $border-width: 1px, $border-color: $border-color-grey, $border-side: "bottom") {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;

    width: $box-width;
    min-width: $mobile-width;
    height: $box-height;

    border-#{$border-side}: $border-width solid $border-color;
    pointer-events: none;
    transform: translateX(-50%);
  }
}

//  волнистые бордеры на всю ширину
@mixin decorative-wavy-border-line() {
  &::after {
    position: absolute;
    content: "";
    left: 50%;

    width: 100vw;
    min-width: $mobile-width;
    height: 7px;

    background-color: transparent;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 319px 7px;
    background-repeat: repeat-x;
    background-position: center top;

    transform: translateX(-50%) translateY(-7px) scale(1, -1);

    @include tablet-width() {
      height: 16px;

      background-size: 771px 16px;

      transform: translateX(-50%) translateY(-16px) scale(1, -1);
    }

    @include desktop-width() {
      height: 23px;

      background-size: 1050px 23px;
      background-repeat: no-repeat;

      transform: translateX(-50%) translateY(-23px) scale(1, -1);
    }
  }
}

//  :focus
@mixin focus($shadow-color: $link-border-color-hover, $background-color: $bg-color-base) {
  outline: none;
  border-radius: 1px;
  box-shadow:
    0 0 0 7px $background-color,
    0 0 0 8px $shadow-color;
}

//  :focus ссылки
@mixin focus-link($shadow-color: $link-border-color-hover, $background-color: $bg-color-base) {
  outline: none;
  border-radius: 1px;
  box-shadow:
    0 0 0 10px $background-color,
    0 0 0 11px $shadow-color;
}

//  :focus картинки
@mixin focus-img($shadow-color: $link-border-color-hover) {
  position: relative;
  outline: none;
  overflow: visible;

  &::after {
    position: absolute;
    content: "";
    top: -2.5%;
    left: -2.5%;

    width: 105%;
    height: 105%;

    border-radius: 10px;
    border: 1px solid $shadow-color;
  }
}


/*  Кастомные поля выбора   */
/*  РАДИОКНОПКИ И ЧЕКБОКСЫ  */

@mixin custom-choice($choice-size: 40px, $color-base: $input-border-base-color, $color-hover: $input-border-green-color) {
  position: relative;

  padding-left: $choice-size +  22px;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: $choice-size;
    height: $choice-size;

    background-color: transparent;
    border: 2px solid $color-base;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &:hover {
    color: $color-hover;
  }

  &:hover::before {
    border-color: $color-hover;
  }

  @include tablet-width() {
    padding-left: $choice-size +  28px;
  }
}

//  focus
@mixin custom-choice--focus($color-base: $bg-color-base, $color-focus: $link-border-color-hover, $color-content-focus: $input-border-green-color) {
  color: $color-content-focus;

  outline: none;
  border-radius: 1px;
  box-shadow:
    0 0 0 10px $color-base,
    0 0 0 11px $color-focus;

  &::before {
    border-color: $color-content-focus;
  }

  @include tablet-width() {
    box-shadow:
      0 0 0 15px $color-base,
      0 0 0 16px $color-focus;
  }
}

//  active
@mixin custom-choice--active($color-active: $border-color-grey-4) {
  color: $color-active;

  &::before {
    border-color: $color-active;
  }
}

// checked
@mixin custom-choice--checked($choice-size: 39px, $color-checked: $input-border-green-color) {
  &::after {
    position: absolute;
    content: "";
  }

  //  радиокнопки
  &--radio::after {
    top: ($choice-size - $choice-size / 2.4) / 2;
    left: ($choice-size / 2);

    width: ($choice-size / 2.4);
    height: ($choice-size / 2.4);

    background-color: $color-checked;
    border-radius: 50%;

    transform: translateX(-50%);
  }

  //  чекбоксы
  &--checkbox::after {
    top: 50%;
    left: 0;

    width: $choice-size;
    height: $choice-size;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 22px 16px;
    background-position: center center;

    transform: translateY(-50%);

    @include tablet-width() {
      background-size: 33px 22px;
    }
  }
}
