/*  ШРИФТЫ  */
$font-regular: "OpenSans-regular", "Arial", sans-serif;
$font-bold: "OpenSans-bold", "Arial", sans-serif;

/*  ЦВЕТА  */
//  Текст
$text-base-color: #444444;
$text-second-color: #ffffff;
$text-title-color: #000000;
$text-form-legend-color: #63d1bb;

//  кнопки
$menu-button-color: #221f1f;
$btn-base-color: #ffffff;
$btn-base-color-hover: #444444;
$btn-text-color-hover: #ffffff;
$btn-border-base-color: #444444;

//  ссылки
$link-border-color: #62d1ba;
$link-text-color-hover: #46c1ae;
$link-border-color-hover: #46c1ae;
$social-color-base: #221f1f;

//  Фон
$bg-color-base: #ffffff;
$bg-color-grey: #f1f1f1;
$photo-bg-color-grey: #ebebeb;
$bg-color-categories: #fafafa;
$bg-color-green-light: #63d1bb;
$bg-color-green-dark: #56c3b2;

//  Рамки
$border-color-grey: #ececec;
$border-color-grey-2: #e5e5e5;
$border-color-grey-3: #ededed;
$border-color-grey-4: #c7c7c7;
$input-border-base-color: #000000;
$input-border-green-color: #62d1ba;
$textarea-border-base-color: #444444;

//  Тени
$shadow-base-color: #000000;
