/*  ШРИФТЫ  */
$font-family-regular: "OpenSans-regular", "Arial", sans-serif;
$font-family-bold: "OpenSans-bold", "Arial", sans-serif;

/*  ЦВЕТА  */
//  Текст
$text-base-color: #444444;

//  Фон
$bg-color-base: #ffffff;
